@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --color-primary: #D81825;
    --color-accent: #F9A825;
    --color-dark-grey: #1D1D1D;
    --color-neutral-1: #F3F3F3;
    --color-neutral-2: #D2D2D2;
    --color-neutral-3: #838383;
    --color-blue-1: #E9F4FC;
    --color-black: #000000;
    --color-white: #ffffff;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-neutral-200;
  }
  body {
    @apply bg-white text-black;
  }
}
